* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

body {
    text-family: 'Calibri';
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
  background-color: #9085BC;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    text-align: center;
}

section h1 {
    font-size: 32px;
    margin-bottom: 20px;
    padding: 50px;
}

.animate1 {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(#b2abcf 0px,  #9085BC 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: solid 1px #c8b6e3;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.animate1:hover {
    transform: scale(1.1);
    background-color: #2980b9;
}

a {
text-decoration: none;
}
