* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

body {
    text-family: 'Calibri';
    line-height: 1.6;
}

header {
  background-color: #9085BC;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

#cute-logo {
    padding: 5px;
    width: 150px;
    border-radius: 8px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
