
header {
  background-color: #9085BC;
    padding: 20px 0;
    text-align: center;
  margin-bottom: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}

body {
    font-family: Calibri, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 0;
}

h3, p {
  margin-bottom: 70px;
}

.intro {
  text-align: center;
}

.excel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
}

iframe {
  width: 60%;
  height: 500px;
}


